h1 {
	font-style: italic;
	font-weight: normal;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
	text-align: center;
	color: white;
}

body {
	background-color: #82CCBF;
}

img {
	border-radius: 8px;
	display:block;
	margin:0 auto;
}

p {
	color: #666;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul {
	color: #666;
}

li {
	float: center;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li {
	float: left;
	text-align: center;
}

nav li a:hover {
	padding: 14px;
	background-color: #111;

}

section {
 display: flex;
}

aside {
 flex: 1
}

article {
 padding: 10px;
 flex: 4
}

<<<<<<< HEAD

=======
>>>>>>> 31a3942d933e65fb40c0c858d3f3f71cbe314a4f
